# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars.backup

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


node_modules/
dist/
**/.terraform/
*.tfstate
*.tfstate.*
